body {
	display: flex;
	flex-direction: column;
	/* height: 100vh; */
	margin: 0;
}

.body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header,
.section,
.footer {
	padding: 0px 215px;
}

.section {
	flex: 1;
}

.header,
.overview,
.footer {
	background-color: #1f2937;
}

.links,
.overview-text {
	font-size: 18px;
	color: #e5e7eb;
}

button,
.action-content {
	background-color: #3882f6;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #f9faf8;
}

.links {
	display: flex;
	gap: 20px;
	list-style-type: none;
	padding: 0px;
	font-weight: lighter;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Overview section */

.overview {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
}

.overview > * {
	flex: 1;
}

.overview-title {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

button {
	padding: 10px 25px;
	border-radius: 15px;
	color: white;
	font-weight: bold;
}

.overview-wrapper {
	padding-right: 15px;
}

.overview button {
	border: none;
	margin-top: 25px;
}

/* Info section */

.info {
	display: flex;
	flex-direction: column;
	gap: 45px;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.info-title {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
}

.info-tiles {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 180px;
}

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: gray;
	color: white;
}

.tile-img {
	height: 150px;
	width: 150px;
	border: 4px solid #3882f6;
	border-radius: 12%;
}

.tile-text {
	color: rgb(128, 128, 128);
	text-align: center;
}

/* Quote section  */
.quote {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	background-color: #e5e7eb;
	padding-top: 100px;
	padding-bottom: 100px;
}

.quote-content {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	color: #1f2937;
}
.quote-author {
	padding-top: 25px;
	font-weight: bold;
	text-align: right;
}

/* Call to action section  */
